@font-face {
    font-family: "IranYekanWeb";
    src: url("fonts/iran-yekan/IranYekanWeb-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    /* light */
}

@font-face {
    font-family: "IranYekanWeb";
    src: url("fonts/iran-yekan/IranYekanWeb-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    /* regular */
}

@font-face {
    font-family: "IranYekanWeb";
    src: url("fonts/iran-yekan/IranYekanWeb-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    /* medium */
}

@font-face {
    font-family: "IranYekanWeb";
    src: url("fonts/iran-yekan/IranYekanWeb-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    /* bold */
}

@font-face {
    font-family: "IranYekanWeb";
    src: url("fonts/iran-yekan/IranYekanWeb-ExtraBold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    /* heavy */
}

::selection {
    @apply bg-primary-500 text-white;
}
::-moz-selection {
    @apply bg-primary-500 text-white;
}

/*
More Template Custom CSS Here...
 */
body{
    font-family: 'IranYekanWeb', tahoma, serif;
}

.container-standard {
    max-width: min(90%,70rem);
    margin-right: auto;
    margin-left: auto;
  }

  .container-standard-wide {
    max-width: min(100%,85rem);
    margin-right: auto;
    margin-left: auto;
  }

  @media only screen and (max-width: 640px) {
    .container-standard-mobile-full-width {
      max-width: 100%;
    }
  }


  /* NAVBAR STYLES */

.navBar {
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}



/* NAVBAR STYLES */
  
  
 /* HERO STYLES */

 
 #heroSwiperPagination .swiper-pagination-bullet-active{
  @apply !bg-primary-400 w-5 rounded-[30px];
 }


 .swiper-button-disabled {
    @apply !hidden;
}

.relative:has([x-ref="popCategorySwiperPrev"].swiper-button-disabled)
.gradient-left {
    opacity: 0;
    @apply pointer-events-none

}

.relative:has([x-ref="popCategorySwiperNext"].swiper-button-disabled)
.gradient-right {
    opacity: 0;
    @apply pointer-events-none

}

.relative:has([x-ref="newProductSwiperPrev"].swiper-button-disabled)
.gradient-left {
    opacity: 0;
    @apply pointer-events-none

}

.relative:has([x-ref="newProductSwiperNext"].swiper-button-disabled)
.gradient-right {
    opacity: 0;
    @apply pointer-events-none
}

.relative:has([x-ref="specialProductSwiperPrev"].swiper-button-disabled)
.gradient-left {
    opacity: 0;
    @apply pointer-events-none
}

.relative:has([x-ref="specialProductSwiperNext"].swiper-button-disabled)
.gradient-right {
    opacity: 0;
    @apply pointer-events-none
}

.relative:has([x-ref="blogSwiper2Prev"].swiper-button-disabled)
.gradient-left {
    opacity: 0;
    @apply pointer-events-none
}

.relative:has([x-ref="blogSwiper2Next"].swiper-button-disabled)
.gradient-right {
    opacity: 0;
    @apply pointer-events-none
}

.gradient-left,
.gradient-right {
    transition: opacity 0.3s ease;
}

 #portoflioSwiperPagination .swiper-pagination-bullet-active{
  @apply !bg-primary-400 w-5 rounded-[30px];
 }
 

 
 #commentSwiperPagination .swiper-pagination-bullet-active{
  @apply !bg-primary-400 w-5 rounded-[30px];
 }




.filterSelectSearch{
    background-position: left 0.5rem center;
    padding-left: 2.5rem;
    padding-right: 1rem;
    @apply bg-gray-200 text-sm border-none py-3 focus:ring-0
}

.filterSelectSearch option{
    @apply bg-gray-200 backdrop-blur-xl text-primary-50 font-light;
}


.popCategoryImgShadow {
    filter:
        drop-shadow(-11px 7px 29px rgba(0, 0, 0, 0.15))
        drop-shadow(-43px 30px 52px rgba(0, 0, 0, 0.13))
        drop-shadow(-104px 42px 35px rgba(0, 0, 0, 0.10));
}


.bannerImg3Shadow {
    filter:
            drop-shadow(-6px 6px 19px rgba(0, 0, 0, 0.20))
            drop-shadow(-23px 26px 34px rgba(0, 0, 0, 0.17))
            drop-shadow(-51px 58px 46px rgba(0, 0, 0, 0.10))
            drop-shadow(-91px 103px 55px rgba(0, 0, 0, 0.03));
}



#blogSwiperPagination .swiper-pagination-bullet-active{
    @apply bg-primary-500 w-5 rounded-[30px];
}

.subMenu1{
    direction: ltr;
    @apply  w-48 shrink-0 flex flex-col text-sm font-normal text-gray-500 max-h-[calc(100vh-6rem)] overflow-y-auto;
}

.subMenu2{
    direction: ltr;
    @apply flex justify-end max-h-[calc(100vh-6rem)] overflow-y-auto w-[600px] ;
}

.subMenu1{
    li a{
        @apply w-full pr-2 pl-4 py-3 flex items-center justify-between hover:text-primary-600 hover:bg-gray-500/5 transition-all ease-in-out duration-200 ;
    }
}

/*.megaMenuWrapper{*/
/*    li a{*/
/*        @apply block  px-4 py-3 hover:bg-white/20 transition-all ease-in-out duration-200 ;*/
/*    }*/
/*}*/

/*.navbarMenu ul>li>ul>li>a:hover{*/
/*    @apply bg-gray-500/5 text-primary-600;*/
/*}*/



/*.navbarMenu ul>li>ul{*/
/*    @apply w-48 absolute top-12 translate-y-7 bg-white invisible opacity-0 flex flex-col text-sm font-normal text-gray-500 max-h-[calc(100vh-6rem)] overflow-y-auto;*/
/*}*/

/*.navbarMenu ul>li>ul>li>ul{*/
/*    @apply w-[800px] absolute top-0 -left-[800px] translate-y-7 bg-white invisible opacity-0 flex flex-col text-sm font-normal;*/
/*}*/

.megaMenuWrapper ul>li:hover>div{
    @apply translate-y-0 opacity-100 visible transition-all duration-300 ease-in-out;
}

/*.navbarMenu ul > li:has(> ul) {*/
/*    position: relative;*/
/*}*/


/*.navbarMenu ul > li:has(> ul):hover>a {*/
/*    @apply bg-white/20;*/
/*}*/

/*.navbarMenu ul:first-child>li:has(ul)> a::after {*/
/*    content: "\f078";*/
/*    font-family: "Font Awesome 5 Pro";*/
/*    font-weight: 300;*/
/*    @apply text-xs absolute top-1/2 -translate-y-1/2 left-2*/
/*}*/

/*.navbarMenu ul:first-child>li:has(ul)> a{*/
/*    @apply pl-6*/
/*}*/

/*.navbarMenu ul > li:has(ul) > a::after {*/
/*    content: "\f053";*/
/*    font-family: "Font Awesome 5 Pro";*/
/*    font-weight: 300;*/
/*    @apply text-xs absolute left-4 top-1/2 -translate-y-1/2*/
/*}*/

